.lnb {
  $lnb-link-padding: 8px;  
  overflow-x: auto;
  @include no-scrollbar;   
  background-color: $white;
  border-bottom: 1px solid $border;  

  &-list {
    @include inline-flexbox(start);    
    margin-left: -#{$grid-margin};
    padding: 0 #{$grid-margin - $lnb-link-padding};
    height: $lnb-height-sm;
    white-space: nowrap;
    
  }

  &-item {
    &.is-active {

      a {
        color: $blue;        
        position: relative;
        
      }

      a::after{
        content: "";
        display: block;
        position: absolute;        
        width: 100%;
        bottom: 0px;      
        height: 2px;
        background-color: $blue;
        
        
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      padding: 0 8px;
      height: 50px;
      font-weight: 700;
      height: $lnb-height-sm;

      &:hover {
        color: $blue;
      }
    }

  }

  @include responsive(T) {
    overflow-x: visible;
    height: 50px;

    &-list {
      height: $lnb-height-md;
      margin-left: 0;
      padding: 0;
            
    }

    a {
      @include text-style(14);
      height: $lnb-height-md;
    }
  }
}